body{
    background-image: url(fundo-azul-abstrato-hd\ \(1\)\(1\).jpg);
    background-size: 120%;
}

input{
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 7%;
}

#butao{
    position: absolute;
    left: 85.5%;
    border-radius: 7px;
    height: 4%;
    width: 30px;
    background-color: rgb(25, 116, 235);
}


img{
    display: inline-block;
}

#pesquisar{
    width: 30%;
    height: 4%;
    border-radius: 10px;
    border: rgb(25, 116, 235) 2px solid;
}   


.ENTA{
    position: absolute;
    left: 33%;
}


h1{
    position: absolute;
    left: 38%;
    top: 24%;
    color: red;
    background-color: white;
}

h2{
    position: absolute;
    left: 38%;
    top: 35%;
    border-bottom: black 1px solid;
}

.info{
    position: absolute;
    left: 37%;
    top: 50%;
    width: 24%;
    border: 1px black solid;
    border-radius: 10px;
}


.cursos5 h2{
    position: absolute;
    top: 170%;
}

.nivel51{
    
    position: absolute;
    top: 200%;
    left: 20%;
    border: 1px black solid;
    border-radius: 15px;
}

.nivel52{
    position: absolute;
    top: 200%;
    left: 51%;
    border: 1px black solid;
    border-radius: 15px;

}

footer{
    background-color: black;
    position: absolute;
    top: 280%;
    width: 105%;
    left: -3%;
}

footer p{
    color: white;
    position: relative;
    left: 5%;
}



