body {
   background-color: aquamarine;
    
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    float: right;
    margin-left: 20px;
}
